.headerZoom {
    padding: 3%;
}
.containerZoom{
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    background-color: #00A97E;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
     
}

.containerTextoZoon{
    width: 50vw;
    height: 50vh;
    color: #f7f6f6;
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.containerTextoZoon p{
    font-size: 20px;
}
.containerTextoZoon a{
    text-decoration: none;
}

/* @media screen and (max-width: 934px){
   .containerTextoZoon p{
    font-size: 15px;

   }
   .containerTextoZoon h1{
    font-size: 20px;
   }

}

@media screen and (max-width: 934px){
    .containerTextoZoon p{
        font-size: 12px;

}
.containerTextoZoon h1{
    font-size: 20px;
   }
} */
    
    
