.containerDepoimento {

    width: 100vw;
    height: 100%;
    max-width: 100%;
    background-color: #f7f6f6;
    color: #00A97E
    
}
.tituloDepoimento{
    text-align: center;
    color: white;
    text-shadow: 1px 2px 3px black;
}

.containerFacilitadores{
    display: flex;
    justify-content: space-evenly;
   flex-wrap: wrap;
    align-items: center;
    padding-top: 2%;
    color: #00A97E
}

.textoDepoimento{
    width: 50vw;
    max-width: 100%;
    text-align: justify;
    color: #00A97E;
}
.barraDepoimento{
    
    width: 50%;
    height: 2%;
    background-color: #00A97E;
    padding: 2px;
    margin: 0 auto;
    margin-top: 2%;
    color: #00A97E
}

.containerParticipantes{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 2%;
   color: #00A97E

}

@media screen and (max-width: 568px) {

    .textoDepoimento{
        width: 90vw;
        
        text-align: justify;
        color: #00A97E;
    }
    
}
