.containerGeral {
    width: 100vw;
    height: 70vh;
    max-width: 100%;
}

.containerSobreNos {
   padding-top: 8%;
    max-width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.textoSobreNos {
    width: 50vw;
    height: 50vh;
    text-align: justify;
    color: #00A97E;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media screen and (max-width: 506px) {

    .containerSobreNos {
        
        font-size: 15px;

    }

}
@media screen and (max-width: 451px) {

    .containerSobreNos {
        
        font-size: 14px;

    }

}